
<!-- Main container. Using FLEX COLUMN to add a layout box and the option to add normal data in second column at the next row ( because default --nje-flex-direction is column  -->                                                            
<div class="nje-layoutbox-flex-column-parent" style="--nje-flex-column-basis:20%; --nje-flex-column-width:20%">

        <!-- First colum all, using all space-->
        <div id="ws-block1" class="nje-contentbox-flex-child" style="--nje-header-title: 'Quck Settings '; --nje-width-perc: 100%; --nje-width-max-perc: 100%;  --nje-min-height: 10vh; --nje-max-height: 10vh; 
                                                                                                            --nje-overflow: auto;  --nje-bkcolor: var(--nje-bk-color-purple);">
            New <br>
            Content 1                    
        </div>

        <!-- Second column on next row -->
        <div id="ws-block1-below-" style="color: #202023; padding: 6px;">
            Your text here! <br>
            This appears in the red area.  dd  sds sds
        </div>

</div>  <!-- End FLEX COLUMN -->

