<!-- Side Panel -->   
<div id="panel_1" class="nje-contentbox-flex-child panel" style="   --nje-width-perc: 10%; --nje-width-max-perc: 10%; --nje-header-title: 'Side Menu ';--nje-font-size-header:12px; --nje-conner-radius:5px ; 
                                                                                                            --nje-bkcolor: var(--nje-bk-color-red); position: relative;  --nje-override-top-margin:0px">

    <button class="panel-toggle" style="position: absolute; right: 4px; top: 14px; z-index: 10;" aria-label="Collapse panel"><span class="panel-arrow">&#8592;</span></button>
    <div class="panel-content">
        

        <!-- Branding & Toolbar container - flex row to place toolbars side by side -->
                <div class="nje-layoutbox-flex-parent" style="--nje-flex-direction: column; gap:10px; margin-bottom: 0px;margin-left:8px">                      
                    <div ></div>                                  
                    <button ID="sp-but-x" class="nje-side-panel" data-target="x" >System information.</button>
                    <button ID="sp-but-x" class="nje-side-panel" data-target="x" >Your button</button>
                    
                
                </div> <!-- END  Branding & Toolbar container - flex row to place toolbars side by side -->

    </div>
</div>