<!-- BEGIN Flex status bar -->
<div class="nje-layoutbox-flex-parent" style="--nje-flex-direction: row; gap: 0px; margin-bottom: 0px;margin-left:8px">

    <!-- BEGIN content status bar -->
    <div id="Brandingr-left" class="nje-contentbox-flex-child" style="--nje-width-perc: 100%; --nje-width-max-perc: 100%; --nje-height: 5.4vh; --nje-overflow: hidden; --nje-conner-radius:5px;
                                                                                                            --nje-bkcolor: var(--nje-bk-color-status); margin-bottom: 0px;"> 
    
            <div class="nje-text-with-ident" style="color:white">    
                <div class="nje-indent-content-10" style= "color:rgb(235, 235, 29)" ">Status:</div>
                <div class="nje-indent-content-10" style= "color:rgb(5, 207, 120)" ">Ready!!</div>

                <div class="nje-indent-content-60" style= "color:rgb(235, 235, 29)" ">Expected:</div>
                <div class="nje-indent-content-10" style= "color:rgb(5, 207, 120)" ">Your password!</div> 

                <div class="nje-indent-content-60" style= "color:rgb(191, 186, 178)" ">Last Warning:</div>
                <div class="nje-indent-content-10" style= "color:rgb(219, 174, 76)" >Invalid Password!</div>                 
            </div>   

    </div> <!-- END content status bar -->

</div>  <!-- END Flex status bar -->



